<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js"></script>
    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/rating.css">
    <link rel="stylesheet" href="/css/<%= pageCSS %>.css">
</head>
<body>
    <nav>
        <div class="imgcover" onclick="window.location.href='/listings'">
            <img class="logo" src="/images/airbnb logo.svg" alt="Airbnb">
        </div>

            <form action="/listings/search" method="GET" class="search-form">
                <div class="search-span">
                    <input type="text" name="query" placeholder="Search for listings, places, or experiences" class="search-input">
                    <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>

        <div class="auth-opt">
            <% if (currentUser) { %>
                <div class="add-listing" onclick="window.location.href='/listings/new'">
                    <button>Switch to hosting</button>
                </div>
            
            <a href="/user/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            <% } else { %>
                <div class="add-listing" onclick="window.location.href='/user/signup'">
                    <button>Become a host</button>
                </div>

            <a href="/user/login">Login</a>
            <!-- <a href="/user/signup">Signup</a> -->
            <% } %>
        </div>  
    </nav>
    <%- include("../includes/flash.ejs") %>
    <%- body -%>
    <footer>
        <div class="footer-content">
            <div class="foot-item">
                <h4 class="foot-head">Support</h4>
                <a href="/">Help Centre</a>
                <a href="/">AirCover</a>
                <a href="/">anti-discrimination</a>
                <a href="/">Disablity support</a>
                <a href="/">Cancellation options</a>
                <a href="/">Report neighbour concern</a>
            </div>
            <div class="foot-item">
                <h4 class="foot-head">Hosting</h4>
                <a href="/">Airbnb your Home</a>
                <a href="/">AirCover for Hosts</a>
                <a href="/">Hosting Resources</a>
                <a href="/">Community forum</a>
                <a href="/">Hosting responsibility</a>
                <a href="/">Join a free Hosting class</a>
                <a href="/">Find a co-host</a>
            </div>
            <div class="foot-item">
                <h4 class="foot-head">Airbnb</h4>
                <a href="/">Newsroom</a>
                <a href="/">New fearures</a>
                <a href="/">Careers</a>
                <a href="/">Investors</a>
                <a href="/">Airbnb.org emergency stays</a>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-social-icons">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>

            <div class="copyright">
                <h4>© 2025 Airbnb Pvt. Ltd.</h4>
            </div>

            <div class="footer-links">
                <a href="/">Privacy</a> | <a href="/">Terms and Condition</a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="/js/bootstrap_script.js"></script>
</body>
</html>